.mailchimp .form-control {
     height: 40px;
}

.mailchimp .btn {
     height: 40px;
}

.mailchimp__message {
     margin-top: 10px;
     display: none;
}

.mailchimp__message--show {
     display: block !important;
}

.mailchimp__message--success {
     color: #3c763d
}

.mailchimp__message--fail {
     color: #f01;
}

.sr-only {
     position: absolute;
     width: 1px;
     height: 1px;
     padding: 0;
     margin: -1px;
     overflow: hidden;
     clip: rect(0, 0, 0, 0);
     border: 0;
}

/* Btn animation */

.btn--loading {
     color: #363636;
     background-color: #333;
     position: relative;
     height: 40px;
}

.btn--loading:after {
     animation: spinAround 500ms infinite linear;
     border: 2px solid #dbdbdb;
     border-radius: 290486px;
     border-right-color: rgba(0, 0, 0, 0);
     border-top-color: rgba(0, 0, 0, 0);
     content: "";
     position: absolute;
     height: 16px;
     width: 16px;
     left: 50%;
     top: 50%;
     margin-left: -8px;
     margin-top: -8px;
}

@keyframes spinAround {
     from {
          transform: rotate(0deg);
     }
     to {
          transform: rotate(359deg);
     }
}